.py-3 {
  padding-bottom: 1rem !important;
}
.justify-content-center {
  justify-content: center !important;
}
.d-flex {
  display: flex !important;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
}
body {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
}
h1{
  color: white;
}

h2{
  color: white;
}

p{
  color: white;
}

.card-container{
  width: 100%;
}

iframe {
  display: block;
  margin: 0 auto;
}

body{
  background-color: #c9dfde;
  font-family: 'Raleway', sans-serif;
}

.temapadrao{
  background: #1094AB;
  color:whitesmoke;
  font-weight: bold;
  padding: 7px 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 18px;
}

.cursos{
  padding: 20px 10px 20px;
  font-size: 25px;
  text-align: justify;
  padding-bottom: 50px;
  color:black;
}

.navvside{
 background-color: rgb(226, 242, 255);
}

.pesquisa{
  margin-top: 70.5px;
}

.barra_p{
  margin-top: 20px;
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
}

.filtros{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 100%;
}

.barra_f{
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
}

label{
  font-weight: bold;
}

.sticky-top{
  margin-top: 20px;
}

.selected-tag {
  padding: 8px 12px;
  background-color: #1094AB;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.tags-section {
  margin-bottom: 20px;
}

.tags-section label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.selected-tag {
  padding: 5px 8px;
  background-color: #1094AB;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.remove-tag {
  cursor: pointer;
  font-weight: bold;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.tag-item {
  padding: 5px 8px;
  background-color: #c2c1c1;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tag-item.selected {
  background-color: #1094AB;
  color: white;
}

.tag-item:hover {
  background-color: #bdbdbd;
}